* {
  box-sizing: border-box;
  background-color: #f0f0f0;
  font-family: Asap, sans-serif;
}

header {
  background-color: #552b80;
  width: 100%;
  padding: 0 2rem;
}

.header-title {
  background-color: #552b80;
  padding: 1rem 0;
  color: #f0f0f0;
  margin: 0 -0.2rem;
  font-size: 1.8rem;
  font-weight: 300;
  width: 110%;
}

.new-entry,
.entries {
  font-size: 2.8rem;
  margin: 1.3rem 0;
  font-weight: 500;
}

.column-full,
.column-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.placeholder-image {
  object-fit: cover;
  height: 320px;
  margin-bottom: 1rem;
}

input,
textarea {
  margin: 0.8rem 0;
  border-radius: 2%;
  border: 1px solid #cfcfcf;
  background-color: white;
}

label {
  font-size: 1.3rem;
  font-weight: 500;
}

.notes {
  height: 200px;
}

.title,
.photo {
  height: 40px;
}

.save-button {
  background-color: #552b80;
  color: #f0f0f0;
  margin: 1rem 0 1.5rem;
  border: none;
  border-radius: 5%;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.button {
  text-align: right;
}

ul {
  width: 105%;
  margin-left: -0.9rem;
}

li {
  list-style-type: none;
}

.entry-image {
  width: 100%;
  object-fit: cover;
}

.entry-image,
.entry-text {
  margin: 0 0 0 -1rem;
}

.entry-title {
  font-size: 1.6rem;
  margin-left: -0.1rem;
  margin-bottom: 0.5rem;
  text-align: left;
  width: 100%;
}

p {
  margin-top: 0;
  font-size: 1.05rem;
  line-height: 1.4rem;
  word-spacing: 1px;
  padding-bottom: 1rem;
  text-align: left;
}

.entries {
  margin-left: 0.4rem;
  padding-bottom: 1rem;
}

a,
a:visited {
  text-decoration: none;
}

#view-entries {
  color: white;
  background-color: #552b80;
  font-size: 1.4rem;
  display: inline;
  padding-left: 4%;
}

#show-form {
  color: white;
  background-color: #552b80;
  border: solid #552b80;
  font-size: 1.5rem;
  margin-left: 48%;
  padding: 1%;
  border-radius: 5%;
}

img {
  width: 100%;
}

.no-entries {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid,
.fa-sharp,
.fa-pen {
  color: #552b80;
  position: absolute;
  right: 10%;
}

i:hover {
  cursor: pointer;
}

.delete-save-button {
  text-align: left;
  margin-left: 0.5rem;
}

.delete-button {
  color: red;
  text-decoration: underline;
  font-size: 1rem;
  border: none;
}

.button > .row > .column-half {
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.button > .row > .column-half:nth-child(2) {
  justify-content: flex-end;
}

.button > .row > .column-half:nth-child(1) {
  justify-content: flex-start;
}

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 4%;
  width: 80%;
  height: 20%;
  position: fixed;
  inset: 35% auto auto 9.8%;
  box-shadow: 2rem 25rem 25rem 50rem rgb(0 0 0 / 50%);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#cancel-button,
#delete-confirm-button {
  justify-content: space-between;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  padding: 10px;
  font-size: 1.1rem;
}

#cancel-button {
  background-color: #b6b6b6;
  color: black;
}

#delete-confirm-button {
  background-color: #dc2626;
  color: white;
}

.modal-content > p {
  padding-bottom: 2.5rem;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  header {
    width: 100%;
    padding-left: 29%;
  }

  p {
    margin-left: 0.1rem;
  }

  .header-title {
    margin: 0 -9%;
    padding: 1rem 0;
  }

  .input.column-half {
    padding-bottom: 20%;
  }

  #input-notes {
    width: 100%;
  }

  .notes {
    width: 100%;
  }

  .notes-label {
    text-align: left;
  }

  .placeholder-image {
    width: 100%;
    height: auto;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .title {
    margin: 0;
  }

  label {
    margin: 1rem 0 0;
  }

  ul {
    width: 100%;
    flex-direction: column;
  }

  .row-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .entry-image {
    width: 50%;
    padding-bottom: 4rem;
    margin-right: 1.5rem;
  }

  .entry-title,
  .entry-text {
    width: 50%;
  }

  .entry-text {
    justify-content: start;
  }

  .entry-title {
    margin-left: 0;
    width: 100%;
  }

  .entries,
  .new-entry {
    margin-left: 1.1rem;
  }

  #show-form {
    margin-left: 80%;
  }

  .fa-solid,
  .fa-pen,
  .fa-sharp {
    right: 20%;
  }

  .save-button {
    margin-left: 22%;
  }

  .modal {
    display: flex;
    justify-content: center;
  }

  .modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 4%;
    width: 25%;
    height: 20%;
    position: fixed;
    inset: 35% auto auto 38%;
    box-shadow: 2rem 25rem 25rem 50rem rgb(0 0 0 / 50%);
  }
}
